{% extends "kwfinder/base.html" %}
{% load static %}
{% block title %}Apps stats{% endblock %}
{% block loads %}
<script type="module" src="{% static "kwfinder/js/datepicker.js" %}"></script>
<script type="module" src="{% static "apps/js/app_stats.js" %}?version=1"></script>
<script>
    const app_id = {{ app.id }};
    const can_see_keitaro_revenue = {% if perms.kwfinder.can_see_keitaro_revenue %} true {% else %} false {% endif %};
</script>
{% endblock %}
{% block header_name %} Аналитика приложения {% endblock %}

{% block content %}
{% include "apps/includes/header_info.html" %}
<div class="settings">
    <div style="display: flex;">
        <div class="date_range--picker"></div>
        <select name="keyword" id="keyword" class="keywords_select settings_select">
            <option hidden value selected disabled>-- Выберите ключ --</option>
            {% for keyword in keywords %}
                <option value="{{ keyword.id }}">[{{ keyword.region.code }}] {{ keyword.name }}</option>
            {% endfor %}
        </select>
        <div class="load_data">
            <button id="load_data__button" class="load_data__button" disabled>Загрузить</button>
        </div>
    </div>
    <div class="loading_info hidden">
        <div style="display: flex;">
            <div> Данные с кейтаро: </div>
            <div class="load_state keitaro_data_load_state">...</div>
        </div>
        <div style="display: flex;">
            <div> Данные свои: </div>
            <div class="load_state our_data_load_state">...</div>
        </div>
        <div style="display: flex;">
            <div> Данные с консоли: </div>
            <div class="load_state console_data_load_state">...</div>
        </div>
        <div style="display: flex;">
            <div> Данные с ASO World: </div>
            <div class="load_state asoworld_data_load_state">...</div>
        </div>
    </div>
</div>
<table class="apps_table apps_info_table" id="table">
    <tbody>
        <tr class="header_row">
            <th colspan="{% if perms.kwfinder.can_see_keitaro_revenue %} 5 {% else %} 4 {% endif %}">Данные с кейтаро</th>
            <th>Cами</th>
            <th colspan="3">Консоль</th>
            <th>ASO World</th>
        </tr>
        <tr class="header_row">
            <th>Дата</th>
            <th>Уники</th>
            <th>Конверсии</th>
            <th>Продажи</th> 
            {% if perms.kwfinder.can_see_keitaro_revenue %} <th>Доход</th> {% endif %}
            <th>Место</th>
            <th>Посетители</th>
            <th>Установки</th>
            <th>Конверсия страницы</th>
            <th>Инсталлы</th>
        </tr>
    </tbody>
</table>
<div class="modal" id="modal-keyword">
    <div class="modal-header">
        <div class="title"></div>
        <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
    </div>
</div>
<div id="overlay"></div>
{% endblock %}