{% extends "kwfinder/base.html" %}
{% load static %}
{% block title %}Apps stats{% endblock %}
{% block header_name %} Приложения {% endblock %}

{% block loads %}
<script type="module" src="{% static "apps/js/apps_info.js" %}"></script>
{% endblock %}
{% block content %}
<div class="actions">
    <button class="app_info_button toggle_banned_button">Показать / скрыть неактивные</button>
    <a href="add/" style="display: block; margin-left: auto;"><img src="/static/kwfinder/img/add-plus-symbol.png" alt="add-plus-symbol" class="add-symbol"></a>
</div>
<table border="1" class="apps_table apps_info_table" id="table">
    <tbody>
        <tr class="header_row">
            <th>Номер</th>
            <th>Название</th>
            <th>Активно</th>
            <th>Регион</th>
        </tr>
        {% for app in apps %}
            <tr class="row {% if not app.is_active %}hidden{% endif %}" onclick="window.location='/apps_info/{{ app.id }}/';" data-attribute="{% if app.is_active %}active{% else %}banned{% endif %}">
                <td>{{ app.num }}</td>
                <td>
                    {% if app.icon %} 
                        <img src="{{ app.icon.url }}" width="50" height="50"> 
                    {% endif %}
                    {{ app.name }}
                </td>
                <td>
                    <img src="/static/admin/img/icon-{% if app.is_active %}yes{% else %}no{% endif %}.svg" alt="False" width="20" height="20">
                </td>
                <td>{{ app.region }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}