{% extends "kwfinder/base.html" %}
{% load static %}
{% block title %}Console data Add{% endblock %}
{% block loads %}
<script type="module" src="{% static "kwfinder/js/datepicker.js" %}"></script>
<script type="module" src="{% static "kwfinder/js/console_data_add.js" %}"></script>
<script>
    const app_id = {{ app.id }};
    const app_name = "{{ app.name }}";
    const app_num = {{ app.num }};
    const keywords = {
        {% for keyword in keywords %}
            {{ keyword.id }}: "{{ keyword.name }}",
        {% endfor %}
    }
</script>
{% endblock %}
{% block header_name %} Данные из консоли {% endblock %}

{% block content %}
<!-- <div class="header_info">
    <div class="title" style="font-size: larger;font-weight: bold;"> [{{ app.num }}] {{ app.name }}</div>
</div> -->
{% include "apps/includes/header_info.html" %}
<div class="settings">
    <div style="display: flex;">
        <div class="date_range--picker"></div>
        <div class="load_data">
            <button id="load_data__button" class="load_data__button" disabled>Загрузить</button>
        </div>
        <div class="save_data">
            <button id="save_data__button" class="save_data__button" disabled>Сохранить</button>
        </div>
    </div>
</div>
<table class="console_data_add_table" id="table">
    <tbody>
        <tr class="header_row">
            <th>Ключ</th>
            <th>Посетители</th>
            <th>Установки</th>
        </tr>
    </tbody>
</table>
{% endblock %}