{% extends "kwfinder/base.html" %}
{% load static %}
{% block title %}Keywords{% endblock %}
{% block header_name %} Ключевые слова {% endblock %}

{% block loads %}
    <script type="module" src="{% static "apps/js/keywords.js" %}?version=1"></script>
{% endblock %}

{% block content %}
{% include "apps/includes/header_info.html" %}
<div class="actions">
    <a href="add/" style="display: block; margin-left: auto;"><img src="/static/kwfinder/img/add-plus-symbol.png" alt="add-plus-symbol" class="add-symbol"></a>
</div>
<table border="1" class="keywords_table apps_info_table" id="table">
    <tbody>
        <tr class="header_row">
            <th>Имя</th>
            <th style="width: 70px;">Позиция</th>
            <th>Регион</th>
            <th style="width: 70px;"></th>
        </tr>
        {% for keyword, position in positions.items %}
            <tr class="row">
                <td>{{ keyword.name }}</td>
                <td style="width: 70px; word-wrap: break-word;">
                    {% if not position %} - 
                    {% else %} 
                        <div class="tooltip">
                            {{ position.position }} 
                            <span class="tooltiptext"> {{ position.run.started_at|date:"N j, Y, H:i" }} </span>
                        </div> 
                    {% endif %}
                </td>
                <td>{{ keyword.region }}</td>
                <td style="width: 70px; word-wrap: break-word;">
                    <button class="delete_button" data-ask-to-delete data-id="{{ keyword.id }}">Удалить</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal" id="modal">
    <div class="modal-header">
        <div class="title">Подтвердите действие</div>
        <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
    </div>
</div>
<div id="overlay"></div>
{% endblock %}