<div class="title" style="font-size: larger;font-weight: bold; margin-bottom: 10px;"> <a href="/apps_info/{{ app.id }}/">{{ app.name }}</a></div>
<div class="header_info">
    <div class="app_image">
        {% if app.icon %} 
            <img src="{{ app.icon.url }}" width="130" height="130">
        {% endif %}
    </div>
    <div class="app_info">
        <div class="app_info_field">
            <div class="app_info_field--title">Номер:</div>
            <div class="app_info_field--value">{{ app.num }}</div>
        </div>
        <div class="app_info_field">
            <div class="app_info_field--title">ID в кейтаро:</div>
            <div class="app_info_field--value">{{ app.campaign_id }}</div>
        </div>
        <div class="app_info_field">
            <div class="app_info_field--title">Активно:</div>
            <div class="app_info_field--value">
                <img src="/static/admin/img/icon-{% if app.is_active %}yes{% else %}no{% endif %}.svg" alt="False" width="20" height="20">
            </div>
        </div>
        <div class="app_info_field">
            <div class="app_info_field--title">
                <a href="/apps_info/{{ app.id }}/keywords/" target="_blank" class="">
                    <button class="app_info_button">Ключевые слова</button>
                </a>
            </div>
        </div>
    </div>
    <div class="app_actions">
        <a href="/apps_info/{{ app.id }}/console_data/" target="_blank" class="header_info_link">Добавить данные из консоли</a>
    </div>
</div>
