{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "kwfinder/css/style.css" %}" rel="stylesheet">
    {% block loads %}
    {% endblock %}
</head>
<body>
    <div class="header" id="header">
        <div class="header--title">
            {% block header_name %}
            {% endblock %}
        </div>
        <div class="header_navigator">
            {% if request.user.is_staff %}
                <a href="/admin/" class="header_navigator--link">Админка</a>
            {% endif %}
            <a href="/apps_info/" class="header_navigator--link">Приложения</a>
            <a href="/" class="header_navigator--link">Аналитика по ключам</a>
            <a href="{% url "logout" %}" class="header_navigator--link">Выйти</a>
        </div>
    </div>
    <div class="main container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>